:root{
    --primary-color: #3CB878;
}

* {
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}


.container{
    background:url('../image/background.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.primary-style-text{
    font-size: 14px;
    line-height: 1;
    font-weight: 400;  
}

/* HEADING////////////// */


.heading{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    padding: 17px 79px;
    justify-content: space-between;
}

.heading a{
    text-decoration: none;
}

.logo{
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    transition: color 0.3s;
}

.navbar-flex{
    display: flex;
    align-items: center;
    
}

.navbar-link{
    padding: 11px 0px 1px 0;
    margin-right: 25px;
}

.navbar-link-img{
    fill: #ffffff;
    transition: fill 0.3s;
}

.navbar-link:hover .navbar-link-img{
    fill: var(--primary-color);
}

.vertical-strip{
    height: 19px;
    width: 1px;
    border: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}


.autorization,
.autorization-link{
    color: #ffffff;
    transition: color 0.3s;
}

.autorization{
    margin-left: 27px;
}


.logo:hover,
.autorization-link:hover{
    color: var(--primary-color);
}


/* FORM///////////// */

.main-container{
    position: relative;
    height: calc(100% - 60px);
    width: 100%;
}

.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 444px;
    background-color: #FFFFFF;
    padding: 31px 60px 38px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.form{
    display: flex;
    flex-direction: column;
}

.title-line{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 13px;
}

.title-line::before{
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    width: 18px;
    height: 18px;
    background-color: var(--primary-color);

}

.form-title{
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #434343;
}


.autorization-link-form{
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.3s;
}

.autorization-link-form:hover{
    color: #01813F;
    text-decoration: underline;
}

.btn-line{
    display: flex;
    justify-content: space-between;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    text-decoration: none;
    border-radius: 4px;
}

.btn-facebook{
    background-color: #305DB8;
    transition: background-color 0.3s;
}

.btn-facebook:hover{
    background-color: #022263;
}

.btn-google{
    background-color: #DF4A32;
    transition: background-color 0.3s;
}

.btn-google:hover{
    background-color: #AB1F09;
}

.btn-strip{
    height: 28px;
    width: 1px;
    opacity: 0.1; 
}

.strip-facebook{
    border: 1px solid #0A162F;
    margin: 0 10px;

}

.strip-google{
    border: 1px solid #2B0D09;
    margin: 0 7px 0 14px;
}

.btn-name{
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
    padding: 5px 13px 5px;
}

.or-line{
    text-align: center;
    display: flex;
    align-items: center;
}

.horizontal-strip{
    width: 100%;
    border: 1px solid #F2F2F2;
    height: 1px;
}

.or{
    color: #848484;
    padding: 11px;
}


.input-line{
    width: 100%;
    padding: 13px 20px;
    line-height: 1.05;
    color: #434343;
    margin-bottom: 15px;
    background-color: #ffffff;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

.input-line::placeholder{
    color: #BEBEBE;
}

.input-line:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.agree-checkbox{
    display: flex;
    align-items: center;
}

.agree-simbol{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background-color:rgba(0, 0, 0, 0.0001)
}

.agree-simbol::before{
    content: url('../image/agree-img.png');
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -45%);
    width: 18px;
    height: 18px;
    opacity: 0;
    transition: all 0.3s;
}

.agree:checked + .agree-simbol::before{
    opacity: 1;
}

.agree{
    display: none;
}

.agree-text{
    margin-left: 10px;
    color: #434343;
}

.agree-link{
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.3s;
}

.agree-checkbox:hover .agree:checked + .agree-simbol::before{
    content: url('../image/agree-hover-img.png');
}


.agree-link:hover{
    color: #01813F;
    text-decoration: underline;
}


.submit-btn{
    padding: 13px 99px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
    border: none;
    margin-top: 20px;
    transition: all 0.3s;
}

.submit-btn:hover{
    background-color: #01813F;
    cursor: pointer;
}



